.followMarquee {
  color: #264c45;
}

.logo-wrap {
    display: flex;
    align-items: flex-end;
    left: 5vw;
}


.logo {
    width: 35vh;
    z-index: 999;
    display: block; 
    position: absolute;
    top: 5vh;
    left: 5vh;
}
.logo-wrap span {
  color: #264c45;
  background-color: #f47139;
}

@media screen and (max-width: 767px) and (min-height: 500px) {
  
  .logo-wrap{
    /* bottom: 4.5vh; */
    right: 5vw;
    bottom: 4.5vh !important;
  }
  .logo {
    width: 10vh;
    top: 1.5vh;
    left: 1.5vh;
  }
  .breakingTicker video, .breakingTicker img{
    height: 5vh !important;
  }
  
} 


