<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kannact Media App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="modules/news/style.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>


<div class="main-wrapper">


   <div id="embedVideo"  class="mainVideo"></div>
   <div class="footer">
    <div class="logo-wrap">
        <img src="modules/news/images/main-logo.gif" class="logo" alt="">
        <span id="time"></span>
    </div>
    
        <div class="ticker-wrap" id="ticker">
        <div class="breakingTicker  animatedBreaking" id="breakingVideo">
                <img src="modules/news/images/breakingNewsTicker-new.gif" alt="">
            </div>
            <div class="onlyTicker animatedBreaking">
                <img src="modules/news/images/ticker-red-new.png" class="ticker tick tickerBG ticker-red breakingTick" alt="">
                <img src="modules/news/images/ticker-blue-new.png" class=" ticker tick tickerBG ticker-blue breakingTick" alt="">
                <div class="ticker-wraps">
                <div class="ticker tick tickerBG ticker-red">
                    <div class="ticker__item"><span class="block"></span> شاہ رخ اور سلمان کی شخصیت سے متعلق سوال پر شعیب اختر نے کیا جواب دیا؟</div>
                    <div class="ticker__item"><span class="block"></span> سیمنٹ کی قیمت  ملکی تاریخ کی بلند ترین سطح پر پہنچ گئی </div>
                    <div class="ticker__item"><span class="block"></span> کراچی ٹیسٹ ڈرا ہونے کے بعد  بابر اور رضوان کی جھپی وائرل </div>
                    <div class="ticker__item"><span class="block"></span> ڈرامہ ریٹنگ کیلئے خواتین کو تھپڑ مارنے کا تصور ختم کرنا چاہیے: ثمینہ پیرزادہ </div>
                  
                </div>
              
                <div class="ticker tick tickerBG ticker-blue">
                    <div class="ticker__item"><span class="block"></span> وزیراعظم نے ناراض ارکان کو منانے کا ٹاسک پرویز خٹک اور شاہ محمود کو دیدیا </div>
                    <div class="ticker__item"><span class="block"></span> امتحان کے وقت نخرے دکھاؤں تو ایسی سیاست پر لعنت ہے: شیخ رشید </div>
                    <div class="ticker__item"><span class="block"></span> پاکستان امتحان کے وقت نخرے دکھاؤں تو ایسی سیاست پر لعنت  ہے:  شیخ رشید </div>
                    <div class="ticker__item"><span class="block"></span> حکومت کی سندھ ہاؤس پر بڑا ایکشن کرنے کی تیاری </div>
                </div>
            </div>
           
            </div>
        </div>
        <button onclick="volumeHandler()" class="volumeBtn">Mute/Unmute</button>
        <div class="followUs" id="footer" >
            <img src="modules/news/images/FollowUsTicker-new.png" />
        </div>
        <marquee behavior="scroll" class="followMarquee" scrollamount="10">Kanact is changing the face of media with 100 Channels reaching out to 160 democratic countries with their local content in 10 languages, providing unbiased news, views, entertainment and information content. Kanact media is a platform designed to operate without any discrimination to nationalities, religions, ethnicities and business interests.</marquee>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="modules/news/script.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <script>

        Pusher.logToConsole = true;

        var pusher = new Pusher('688755c88e804ab5392a', {
        cluster: 'ap2'
        });

        var channel = pusher.subscribe('chat');
        channel.bind('video', function(data) {
        alert(JSON.stringify(data));
        });

        var news=[];
        let boolLoad = false
        let mute = true
        function getLatestNews() {
         $.ajax ({
             url: "/news/ajaxindex",
             type:'GET',
            
             success: function (response) {
                 let videoStartTime = 0;
                 let videoCount = 0
                var videoSource = [];
                news = response.news;
                videoStartTime= response.videoStartTime
               
                jQuery.each(news, function(index, item) {
                    videoSource[index] = item.video_path.match(/\d+/g); 
                    if(item.ticker_text != null) {
                      
                    }
                });
                let videoLoop = () => {
                    document.getElementById("embedVideo").innerHTML =  '<iframe src="'+`https://player.vimeo.com/video/${videoSource[videoCount]}?autoplay=1&muted=1&#t=0`+'" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="videos"></iframe>'
                    let videoUrl = document.getElementById("videos");
                    var player = new Vimeo.Player(videoUrl);
                    
                    player.on('ended', function() {

                        if(videoCount != videoSource.length-1){
                            console.log('2nd', videoCount);
                    
                            videoCount++;    
                            videoLoop();
                        }
                        else {
                            console.log(videoCount,'dfdfdf',videoSource.length)
                            getLatestNews();
                        }
                    });
                }



                let onLoadFunction = () => {
                    document.getElementById("embedVideo").innerHTML =  '<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="'+`https://player.vimeo.com/video/686006480`+'" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen id="videos"></iframe></div>'
                    let videoUrl = document.getElementById("videos");
                    var player = new Vimeo.Player(videoUrl);
                    
                    player.on('ended', function() {
                        boolLoad = false;
                        videoCount++;    
                        onLoadFunction();
                        console.log('1timee', videoCount);
                    });
                }

                if(boolLoad == true){
                    onLoadFunction()
                }
                else{
                    videoLoop();
                }
                

                $( document ).ready(function() {
                    console.log('load');
                });
               
                // document
                //     .getElementById("videos")
                //     .addEventListener("ended", getLatestNews, false);
            }
        })
        
        }
        const element = document.getElementById("videos");
       
        function playVid() {
            
          
        if (element.paused) element.play();
        else element.pause();
        }
        
        let volumeHandler = () => {
            let videoUrl = document.getElementById("videos");
            if(videoUrl != null)
            {
                if(mute == true){
                    var player = new Vimeo.Player(videoUrl);
                    mute =false;
                    player.setVolume(1);
                }
                else if(mute == false){
                    var player = new Vimeo.Player(videoUrl);
                    mute =true;
                    player.setVolume(0);
                }
            }
            else{
                return 
            }
        }
        $( document ).ready(function() {
            boolLoad = true;
            getLatestNews();
        });
    </script>

</body>
</html>