@font-face {
  font-family: noori;
  src: url(font/pdms-jauhar-regular.ttf);
}
@font-face {
  font-family: jauhar;
  src: url(font/pdms-jauhar-regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #000000e3;
}
.main-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.followMarquee {
  font-size: 26px;
  position: absolute;
  bottom: 103px;
  font-family: Arial;
  width: 95%;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.mainVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: calc(100% - 100px);
  width: auto;
  height: auto;
  /* z-index: -100; */
  transform: translateX(-50%) translateY(-50%);
}
.logo-wrap {
  position: absolute;
  bottom: 96px;
  right: 70px;
  z-index: 99;
}
.logo {
  max-width: 250px;
  z-index: 999;
}
.logo-wrap span {
  color: #fff;
  font-size: 25px;
  margin-right: 22px;
  margin-top: -3px;
  font-family: Arial;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  background-color: #ae0000;
  width: 100%;
  text-align: center;
}
.ticker-wrap {
  width: 100%;
  position: relative;
  transition: 1s;
  bottom: 0px;
}
.breakingTicker {
  position: absolute;
  transition: 1s;
  width: 100%;
}
.breakingTicker video,
.breakingTicker img {
  width: 100%;
}
.volumeBtn {
  position: absolute;
  z-index: 999;
  right: 7px;
  bottom: 273px;
  cursor: pointer;
  font-size: 14px;
  padding: 3px;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.ticker-wrap .ticker {
  height: 100px;
  width: 100%;
}
.ticker-wrap .ticker-wraps {
  font-family: jauhar;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}
.block {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: #fff;
  margin: 0 60px;
  border-radius: 50%;
}
.breakingTicker {
  display: none;
  position: absolute;
  bottom: 0;
}
.onlyTicker.animatedTick {
  display: none;
}
.breakingTicker.animatedTick {
  display: block;
}
.colon {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.breaking {
  position: absolute;
  left: 10px;
  bottom: 155px;
}
.breaking img,
.followUs img {
  width: 350px;
}
.container {
  overflow: hidden;
  white-space: nowrap;
}

.ticker-wraps {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  box-sizing: content-box;
}
.ticker-wraps .ticker {
  display: inline-block;
  white-space: nowrap;
  padding-left: 250%;
  box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  animation-duration: 35s;
  align-items: center;
  justify-content: center;
}
.ticker-wraps .ticker__item {
  display: inline-block;
  font-size: 50px;
  color: white;
  font-family: jauhar;
  margin-top: 10px;
}
.main {
  font-size: 120%;
  color: red;
}
.border {
  border: 1px solid black;
}
.breaking .breaking2 {
  display: none;
}
.breaking.breaking1 .breakingImg {
  display: none;
}
.breaking.breaking1 .breaking2 {
  display: block !important;
}
.followUs.dBlock {
  display: block;
}
.followUs .follow {
  font-size: 18px;
  font-family: monospace;
}
.followUs {
  text-align: center;
  position: absolute;
  bottom: 92px;
  width: 100%;
}
.followUs img,
.followUs video {
  width: 100%;
  height: 45px;
}
.followUs .fa {
  padding: 4px;
  font-size: 15px;
  width: 14px;
  height: 14px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  border-radius: 50%;
}
.followUs .fa-facebook {
  background: #3b5998;
  color: white;
}
.followUs .fa-twitter {
  background: #55acee;
  color: white;
}
.followUs .fa-instagram {
  background: #125688;
  color: white;
}
.streaming {
  background: blue;
}
.ticker-red {
  display: block;
}
.tickerBG.ticker-red {
  display: none;
}
.ticker-blue {
  display: none !important;
}
.tickerBG.ticker-blue {
  display: block !important;
}
.animatedTick img.ticker {
  position: absolute;
  z-index: 99999;
  bottom: 0;
}
/* .animatedTick img.ticker {
  height: 50px;
} */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 100px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
}
.animatedFadeInUp {
  opacity: 0;
}
.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

@-webkit-keyframes ticker {
  0% {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(-100%, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.player .vp-sidedock,
.player .vp-title {
  display: none;
}
@media screen and (min-width: 1440px) {
  .ticker-wrap,
  .breaking video {
    bottom: 0px;
  }
  .ticker-wrap .ticker {
    height: 130px;
    padding-right: 20%;
  }
  .ticker-wraps .ticker__item {
    font-size: 64px;
  }
  .breaking {
    bottom: 235px;
  }
  .followUs {
    bottom: 125px;
  }
  .followMarquee {
    bottom: 134px;
  }
  .logo-wrap {
    bottom: 125px;
  }
}
@media screen and (max-width: 1440px) {
  .logo {
    width: 125px;
  }
  .logo-wrap {
    bottom: 76px;
    right: 30px;
  }
  .logo-wrap span {
    margin-right: 0;
    height: 30px;
    font-size: 14px;
  }
  .followUs img,
  .followUs video {
    height: 30px;
  }
  .followMarquee {
    font-size: 18px;
    bottom: 80px;
  }
  .ticker-wraps .ticker__item {
    font-size: 40px;
  }
  .breakingTicker video,
  .breakingTicker img {
    width: 100%;
    height: 80px;
  }
  .ticker-wrap .ticker {
    height: 80px;
  }
  .followUs {
    bottom: 74px;
  }
  .block {
    width: 15px;
    height: 15px;
    margin: 0 30px;
  }
}

@media screen and (max-width: 800px) {
  .main-wrapper {
    height: auto !important;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid rgb(100, 100, 100);
  }
  .mainVideo {
    position: relative;
    top: auto;
    left: auto;
    transform: initial;
    max-width: 100%;
  }
  .logo {
    width: 60px;
  }
  .logo-wrap {
    bottom: 48px;
    right: 30px;
  }
  .logo-wrap span {
    margin-right: 0;
    height: 20px;
    font-size: 11px;
  }
  .followUs img,
  .followUs video {
    height: 20px;
  }
  .followMarquee {
    font-size: 14px;
    bottom: 50px;
  }
  .ticker-wraps .ticker__item {
    font-size: 25px;
  }
  .breakingTicker video,
  .breakingTicker img {
    width: 100%;
    height: 44px;
  }
  .ticker-wrap .ticker {
    height: 50px;
  }
  .followUs {
    bottom: 45px;
  }
  .block {
    width: 15px;
    height: 15px;
    margin: 0 30px;
  }
}
